.leftDiv {
    background-color: rgb(18,107,66);
    /* height: ; */
}
.img1 {
    height: 600px;
}
.shopnow {
    background-color: rgb(225,251,47);
    border-radius: 50%;
}

.nearMe{
    border-radius: 50%;
}